<router-outlet></router-outlet>

<app-phone *ngIf="!activeQuestion  && !activeQuestion2" [firstStep]="firstStep" (makeCallEvent)="startCall($event)"></app-phone>


<div *ngIf="loadingState"> spinner  cargando....</div>
<ng-container *ngIf="!loadingState" >
  <app-question *ngIf="actualState" [title]="actualState.current_state.title"
                [question]="actualState.current_state.question" (answer)="selectAnswer($event)">
    <app-answer *ngFor="let answer of actualState.possible_transitions; let index = index"
                [number]="index"
                [title]="answer.title"
                [name]="answer.name"
                [type]="answer.type"></app-answer>
  </app-question>
</ng-container>
